{% extends 'base.html' %}

{% block title %}{% if object %}Edit{% else %}Create{% endif %} Sales Opportunity{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="fas fa-bullseye"></i>
                        {% if object %}Edit Opportunity{% else %}Create Sales Opportunity{% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label class="form-label">Opportunity Name *</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Stage *</label>
                                {{ form.stage }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Customer *</label>
                                {{ form.customer }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Expected Revenue</label>
                                {{ form.expected_revenue }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Expected Close Date</label>
                                {{ form.expected_close_date }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Probability (%)</label>
                                {{ form.probability }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            {{ form.description }}
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'sales:opportunity_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> {% if object %}Update{% else %}Create{% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
